%section#services_signin.services
  %p
    You can sign up or sign in using one of your existing accounts at Google or Yahoo.
    %br/
    Please select the provider you want to use:
  %div
    = render 'services_list'
  %p.clear
    Don't have any of these accounts? Get your #{link_to 'GoogleID', 'http://mail.google.com/mail/signup'} now!
