%table#dropsTable{:data => {:source => "#{ drops_url(params.merge!(format: "json")) }"}}
  %thead
    %tr
      %th Item Name
      %th Character Name
      %th Loot Type
      %th Zone Name
      %th Mob Name
      %th Drop Time
      %th Loot Method
      %th
      %th
  %tbody
%br/
%br/
= link_to 'New Drop', new_drop_path