#ranks_form.form
  .field
    = label_tag 'Name:', nil, class: 'header'
    %span.data
      = @rank.name
  .field
    = label_tag 'Priority:', nil, class: 'header'
    %span.data
      = @rank.priority
