<% if !@page.nil? %>
    <p id="page_text"><%= @page.body.html_safe %></p>
    <% if logged_in? %>
        <a href='#' id='edit'>Edit This Page</a></br>
        <script language="JavaScript">
            new Ajax.InPlaceEditor(
                    'page_text',
                    '/viewer/set_page_body/<%=@page.id%>',
                    {
                        rows:10,
                        cols:80,
                        externalControl:'edit',
                        externalControlOnly:true,
                        loadTextURL:'/viewer/get_unformatted_text/<%=@page.id%>'
                    }
            )
        </script>
    <% end %>
<% end %>