<% if !@page.nil? %>
    <% if !@subpages.empty? %>
        <div id='subnav'>
          <ul>
            <% for page in @subpages %>
                <li><%= link_to page.navlabel, view_page_path(page.name) %></li>
            <% end %>
          </ul>
        </div>
    <% elsif @page.parent %>
        <div id='subnav'>
          <ul>
            <li><%= link_to "Return to #{@page.parent.navlabel}", view_page_path(@page.parent.name) %></li>
          </ul>
        </div>
    <% end %>

    <p id="page_text"><%= @page.body.html_safe %></p>
    <% if logged_in? %>
        <a href='#' id='edit'>Edit This Page</a></br>
        <script language="JavaScript">
            new Ajax.InPlaceEditor(
                    'page_text',
                    'set_page_body',
                    {
                        rows:10,
                        cols:80,
                        externalControl:'edit',
                        externalControlOnly:true,
                        loadTextURL:'/viewer/get_unformatted_text/<%=@page.id%>'
                    }
            )
        </script>
    <% end %>
<% end %>