- @link_categories.each do |link_category|
  - cache link_category do
    %h2= h link_category.title
    %p= h link_category.description
    %ul
      - link_category.links.each do |link|
        %li= link_to link.title, link.url
