%table{:id => "charactersTable_#{@char_type}", :data => {:source => "#{ characters_url(params.merge!(format: 'json', char_type: @char_type)) }"}}
  %thead
    %tr
      %th Name
      %th Main
      %th Player
      %th Class
      %th First Raid
      %th Last Raid
      %th Raids
      %th Instances
      %th Armour Rate
      %th Jewellery Rate
      %th Weapon Rate
      %th
      %th
      %th
  %tbody