:coffeescript
  setAAs = (value) ->
    $("#aa_slider").slider "option", "value", value

  jQuery ->
    json = $("#character").attr("json_data")
    character = JSON.parse(json)
    $("#aa_slider").slider
      value: (character.alternateadvancements.spentpoints + character.alternateadvancements.availablepoints)
      min: 0
      max: 320
      disabled: true
- if @data and @data.respond_to? :alternateadvancements
  #character{:json_data => @data.to_json }
    %table
      %tr
        %td
          AAs:
        %td
          #aa_slider{:style => "width:320px"}
        %td
          = precede "&nbsp;".html_safe * 3 do
            = "#{@data.alternateadvancements.spentpoints + @data.alternateadvancements.availablepoints} / 320"
