:coffeescript
  setAAs = (value) ->
    $("#aa_slider").slider "option", "value", value

  jQuery ->
    json = $("#character").attr("json_data")
    character = JSON.parse(json)
    $("#aa_slider").slider
      value: (character.alternateadvancements.spentpoints + character.alternateadvancements.availablepoints)
      min: 0
      max: 320
      disabled: true
- if @character.external_data and !@character.external_data.data.empty?
  #character{:json_data => @character.external_data.data.to_json }
    %table
      %tr
        %td
          AAs:
        %td
          #aa_slider{:style => "width:320px"}
        %td
          - if @character.external_data && @character.external_data.data
            = precede "&nbsp;".html_safe * 3 do
              = "#{@character.external_data.data['alternateadvancements']['spentpoints'].to_i + @character.external_data.data['alternateadvancements']['availablepoints'].to_i} / 320"
