:coffeescript
  setAAs = (value) ->
    $("#aa_slider").slider "option", "value", value

  jQuery ->
    json = $("#character").attr("json_data")
    character = JSON.parse(json)
    $("#aa_slider").slider
      value: (character.alternateadvancements.spentpoints + character.alternateadvancements.availablepoints)
      min: 0
      max: 320
      disabled: true
- if @data
  #character{:json_data => @data.to_json }
    - if @data.respond_to? :alternateadvancements
      %table.slider
        %tr
          %td
            AAs:
          %td.slider
            #aa_slider
          %td.numeric{style: 'width:80px'}
            = "#{@data.alternateadvancements.spentpoints + @data.alternateadvancements.availablepoints} / 320"
