:coffeescript
  setAAs = (value) ->
    $("#aa_slider").slider "option", "value", value

  jQuery ->
    alternate_advancement_points = $("#character").attr("alternate_advancement_points")
    $("#aa_slider").slider
      value: alternate_advancement_points
      min: 0
      max: 320
      disabled: true
#character{:alternate_advancement_points => @alternate_advancement_points }
  %table.slider
    %tr
      %td
        AAs:
      %td.slider
        #aa_slider
      %td.numeric{style: 'width:80px'}
        = "#{@alternate_advancement_points} / 320"
