.characterPopupResult{:id => @character.id}
  %strong= @character.name
  %br/
  Raids:
  = @character.raids.count
  %br/
  Instances:
  = @character.instances.count
  %br/
  = render 'soe_data', :"@data" => HashParser.new(@character.external_data.data.with_indifferent_access)