#tabBook
  %ul
    %li= link_to 'Raid Mains', '#raid_mains'
    %li= link_to 'Raid Alts', '#raid_alts'

  #raid_mains
    = render 'character_loot', :'@characters' => @characters.select { |c| c.char_type.eql? 'm' }

  #raid_alts
    = render 'character_loot', :'@characters' => @characters.select { |c| c.char_type.eql? 'r' }