#tabBook
  %ul
    %li= link_to 'Raid Mains', '#raid_mains'
    %li= link_to 'Raid Alts', '#raid_alts'

  #raid_mains
    = render 'loot_tab', :'@characters' => @characters, :'@char_type' => 'm'

  #raid_alts
    = render 'loot_tab', :'@characters' => @characters, :'@char_type' => 'r'