:javascript
  $(document).ready(function(){
      $('#instancesTabTable').dataTable( {
  	    "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "aaSorting": [[2,'desc']]
      } );
  });
%table#instancesTabTable
  %thead
    %tr
      %th Zone
      %th Raid Date
      %th Start time
      %th End time
  %tbody
    - @instance_list.each do |instance|
      %tr
        %td= instance.zone.name
        %td= instance.start_time.to_date
        %td= instance.start_time
        %td= instance.end_time
%br/