%table#dataTable
  %thead
    %tr
      %td Name
      %td Class
      %td Rank
  %tbody
    - @player.characters.each do |character|
      - cache character do
        %tr
          %td= character.name
          %td= character.archetype ? character.archetype.name : "Unknown"
          %td= case character.char_type when "m" then "Main" when "r" then "Raid Alternate" else "General Alternate" end
%br/
