#tabBook
  %ul
    %li= link_to 'Raid Mains', '#raid_mains'
    %li= link_to 'Raid Alts', '#raid_alts'

  #raid_mains
    = render 'character_loot', :'@characters' => @players.select { |p| !p.current_main.nil? }.collect { |p| p.current_main }

  #raid_alts
    = render 'character_loot', :'@characters' => @players.select { |p| !p.current_raid_alternate.nil? }.collect { |p| p.current_raid_alternate }