:javascript
  $(document).ready(function() {
  	$('#zoneItemsTable').dataTable( {
  	    "bJQueryUI": true,
   		"sPaginationType": "full_numbers",
  		"aoColumns": [
  		    /* Name */ null,
  			/* Loot Type */  null,
  			/* Slots */   null,
  			/* Classes */ null
  		],
        "aaSorting": [[0,'asc']]
  		} );
  } );
%table#zoneItemsTable
  %thead
    %tr
      %th Name
      %th Loot Type
      %th Slot(s)
      %th Class(es)
  %tbody
    - @zone.items.each do |item|
      %tr
        %td.itemPopupTrigger{:id => item.id}= link_to item.name, item
        %td= item.loot_type ? item.loot_type.name : "Unknown"
        %td= item.slot_names
        %td= item.class_names
