%table#itemsTable{:data => {:source => "#{ items_url(params.merge!(format: "json")) }"}}
  %thead
    %tr
      %th Name
      %th Loot Type
      %th Slot(s)
      %th Class(es)
      %th
      %th
  %tbody
%br/
%br/
= link_to 'New Item', new_item_path
