:javascript
  $(document).ready(function() {
  	$('#itemsTable').dataTable( {
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
      "bProcessing": true,
      "bServerSide": true,
      "aaSorting": [[0,'asc']],
      "sAjaxSource": $('#itemsTable').data('source')
  	} );
  } );
%table#itemsTable{:data => {:source => "#{ items_url(params.merge!(format: "json")) }"}}
  %thead
    %tr
      %th Name
      %th Loot Type
      %th Slot(s)
      %th Class(es)
      %th
  %tbody
%br/
%br/
= link_to 'New Item', new_item_path
