#item_selects {
  .field#item_classes {
    #item_archetype_ids {
      width: 160px;
      height: 206px;
    }
    float: left;
  }

  .field#item_slots {
    #item_slot_ids {
      width: 100px;
      height: 206px;
    }
    padding-left: 20px;
    position: relative;
    float: left;
  }
}

#clear {
  clear: both;
}
