#lootPopupContainer {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 20000;
}

.lootPopupPopup {
}

#lootPopupContent {
    background-color: #FFF;
    min-width: 175px;
    min-height: 50px;
}

.lootPopupPopup .lootPopupImage {
    margin: 5px;
    margin-right: 15px;
}

.lootPopupPopup .corner {
    width: 19px;
    height: 15px;
}

.lootPopupPopup .topLeft {
    background: url(balloon_topLeft.png) no-repeat;
}

.lootPopupPopup .bottomLeft {
    background: url(balloon_bottomLeft.png) no-repeat;
}

.lootPopupPopup .left {
    background: url(balloon_left.png) repeat-y;
}

.lootPopupPopup .right {
    background: url(balloon_right.png) repeat-y;
}

.lootPopupPopup .topRight {
    background: url(balloon_topRight.png) no-repeat;
}

.lootPopupPopup .bottomRight {
    background: url(balloon_bottomRight.png) no-repeat;
}

.lootPopupPopup .top {
    background: url(balloon_top.png) repeat-x;
}

.lootPopupPopup .bottom {
    background: url(balloon_bottom.png) repeat-x;
    text-align: center;
}  