#popupContainer {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 20000;
}

.popupPopup {
}

#popupContent {
    background-color: #FFF;
    min-width: 175px;
    min-height: 50px;
}

.popupPopup .popupImage {
    margin: 5px;
    margin-right: 15px;
}

.popupPopup .corner {
    width: 19px;
    height: 15px;
}

.popupPopup .topLeft {
    background: url(balloon_topLeft.png) no-repeat;
}

.popupPopup .bottomLeft {
    background: url(balloon_bottomLeft.png) no-repeat;
}

.popupPopup .left {
    background: url(balloon_left.png) repeat-y;
}

.popupPopup .right {
    background: url(balloon_right.png) repeat-y;
}

.popupPopup .topRight {
    background: url(balloon_topRight.png) no-repeat;
}

.popupPopup .bottomRight {
    background: url(balloon_bottomRight.png) no-repeat;
}

.popupPopup .top {
    background: url(balloon_top.png) repeat-x;
}

.popupPopup .bottom {
    background: url(balloon_bottom.png) repeat-x;
    text-align: center;
}  