body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#pagewrapper {
  width: 98%;
  margin: 5px auto;
  padding: 5px;
  border: 1px solid #999;
  font-family: Arial, Helvetica, sans-serif;
}

#content {
  padding: 10px 5px;
}

#header {
  background-color: #900;
  margin: 0;
  padding: 0;
  p {
    padding: 20px 10px;
    font-size: 24px;
    margin: 0;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
}

#footer {
  background-color: #999;
  padding-top: 6px;
  padding-bottom: 6px;
  clear: both;
  border-top: 2px solid #333;
  text-align: center;
  p, a {
    text-align: center;
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 2px;
  }
}

/* Navigation Bar */

#navbar {
  ul {
    padding: 0;
    margin: 0;
    background-color: white;
    color: White;
    float: left;
    width: 100%;
    list-style: none;
    font-weight: bold;
    font-size: 13px;
    li {
      display: inline;
      color: White;
      float: left;
      border-right: 1px solid #333;
      font-family: arial, helvetica, sans-serif;
      a {
        padding: 0.2em 0.7em;
        background-color: #999;
        color: White;
        text-decoration: none;
        float: left;
        &:hover {
          background-color: #333;
          color: #fff;
        }
      }
    }
  }
  #current a {
    background-color: #ffffff;
    color: black;
  }
}

#subnav {
  width: 100%;
  height: 25px;
  float: left;
  ul {
    padding: 0;
    margin: 0;
    background-color: white;
    color: White;
    float: left;
    width: 100%;
    list-style: none;
    font-size: 10px;
    li {
      display: inline;
      color: White;
      float: left;
      font-family: arial, helvetica, sans-serif;
      a {
        padding: 0.2em 0.7em;
        display: block;
        color: black;
        text-decoration: none;
        &:hover {
          background-color: #333;
          color: #fff;
        }
      }
    }
  }
}

#edit {
  font-size: 12px;
}

#breadcrumb {
  height: 25px;
  font-size: 10px;
  float: left;
  width: 100%;
}

#pagetitle {
  width: 140px;
  height: 40px;
  border-right: 1px solid black;
  background-color: #900;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 10px;
}

#title {
  font-weight: bold;
}

textarea.popup {
  width: 400px;
  height: 100px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
}

select#instance_character_ids {
  width: 200px;
  height: 200px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
}

.button {
  font-size: .9em !important;
}

.table-button {
  font-size: .7em !important;
}

.numeric {
  text-align: right !important;
}

.centered {
  text-align: center !important;
}

.stats-left {
  float: left;
  width: 120px;
  padding:1em;
}

.stats-right {
  float: left;
  padding:1em;
}

.clear {
  clear: both;
}

td.nowrap {
  white-space: nowrap;
}

table.slider {
  table-layout: fixed;
  width: 360px !important;
}


td.slider {
  width: 320px !important;
  overflow: hidden;
}

div#aa_slider {
  width: 310px !important;
}